body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    /* fixed=Paralax
    scrol = normal
    */
}

.pimg1 {
    background-image: url(image1.jpg) ;
    min-height: 100%; /*or 100vh*/
}

.pimg2 {
    background-image: url(image2.jpg) ;
    min-height: 400px;
}

.pimg3 {
    background-image: url(image3.jpg) ;
    min-height:  400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 8px;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

span.trans {
    background-color: transparent;
    color: #fff;
}

@media (max-width:560px) {
    .pimg1, .pimg2, .pimg3 {

        background-attachment:scroll;

    }
}
